.bilberry-hugo-theme{ /* this is the default, keeping it here for posterity */  font-family: "Open Sans", sans-serif; }
.bilberry-hugo-theme h1, .bilberry-hugo-theme h2, .bilberry-hugo-theme h3, .bilberry-hugo-theme h4, .bilberry-hugo-theme h5, .bilberry-hugo-theme h6, .bilberry-hugo-theme .title, .bilberry-hugo-theme .subtitle { font-family: "Open Sans", sans-serif; }

.bilberry-hugo-theme li { margin-bottom: .5rem; }

.bilberry-hugo-theme article .footer, .bilberry-hugo-theme footer .container{ font-family: "Open Sans", sans-serif;}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
}
figure {
    margin: 1.5em 0;
}
figcaption {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    margin-top: 0.5em;
}